.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #243B55;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .login-image img{
    height: 401px;
    max-width: 400px;
  }
  .login-form {
    background: #1A1A2E;
    padding: 2rem;
    width: 100%;
    height: 400px;
    max-width: 300px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .login-label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    color: #fff;
  }
  
  .login-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
    color: black;
  }
  
  .login-button {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  .login-footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ccc;
  }
  
  .login-signup-link {
    color: #007bff;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
  }
  
  .login-signup-link:hover {
    color: #5fa9f8;
  }
  